<% include partials/header %>
<div class="container">
  <p class="lead"><strong>Damodara 2018, Taman Yarl Kuala Lumpur</strong> </p>
  <p class="lead">There are <strong>
      <%= images.length %> </strong> images in this album. <br>Click on any of the images below to view the whole
    album.</p>
  <% let col = 0; %>
  <% for(let row = 1; row<=1; row++){ %>
  <div class="row">
    <% for(let i=col; i<col+3; i++) { %>
    <div class="col-sm">
      <a href="https://drive.google.com/uc?export=view&id=<%=images[i].id%>" data-toggle="lightbox" data-gallery="hidden-images"
        class="col-4" data-type="image" data-title="Damodara 2018, Taman Yarl Kuala Lumpur">
        <img class="img-fluid" src="https://drive.google.com/uc?export=view&id=<%=images[i].id%>">
      </a>
    </div>
    <% }%>
  </div>
  <% col += 3; %>
  <%}%>
</div>
<% include partials/footer %>