<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <title>Damodara 2018, Taman Yarl Kuala Lumpur</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" target="_blank">Welcome!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.iskcon.org/" target="_blank">ISKCON</a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container">
    <h1 class="display-1">Damodara 2018</h1>
    <h1 class="display-3">Taman Yarl Kuala Lumpur</h1>
    <p class="lead">There are <strong>
        <%= images.length %> </strong> images in this album. <br>Click on any of the images below to view the whole
      album.</p>
    <% let col = 0; %>
    <% for(let row = 1; row<=3; row++){ %>
    <div class="row">
      <% for(let i=col; i<col+3; i++) { %>
      <div class="col-sm">
        <a href="https://drive.google.com/uc?export=view&id=<%=images[i].id%>" data-toggle="lightbox" data-gallery="hidden-images"
          class="col-4" data-type="image" data-title="Damodara 2018, Taman Yarl Kuala Lumpur">
          <img class="img-fluid" src="https://drive.google.com/uc?export=view&id=<%=images[i].id%>">
        </a>
      </div>
      <% }%>
    </div>
    <% col += 3; %>
    <%}%>
  </div>
  <!-- elements not showing, use data-remote -->
  <% for(let i=6; i<images.length; i++){%>
  <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="https://drive.google.com/uc?export=view&id=<%=images[i].id%>"
    data-title="Damodara 2018, Taman Yarl Kuala Lumpur" data-type="image"></div>
  <%}%>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>

</html>